{% extends 'base.html.twig' %}

{% block title %}Mes Quacks{% endblock %}

{% block body %}
    <h1>Mes Quacks</h1>
    {% for quack in quacks %}
        <div class="card w-75 BoxQuacks">
            <div class="card-body">
                <div class="mb-2">
                    <p class="card-title"> {{ quack.user.duckname }}</p>
                    <p class="card-text card-body QuackContent">{{ quack.content }}</p>
                    <small>{{ quack.createdAt ? quack.createdAt|date('Y-m-d H:i:s') : '' }}</small>
                </div>
                <div>
                    <a href="{{ path('quack_show', {'id': quack.id}) }}" class="btn-info btn">Voir plus</a>
                    <a href="{{ path('quack_edit', {'id': quack.id}) }}" class="btn btn-danger">Modifier</a>
                </div>
            </div>
            <a href="{{ path('quack_edit', {'id': quack.id}) }}" class="btn btn-warning mb-3">edit</a>
            {{ include('quack/_delete_form.html.twig') }}
        </div>
    {% endfor %}

{% endblock %}
